{% extends "layout.html" %}
{% block content %}
<section>
   <h2>About TableTennisForALL</h2>
    <p>
        Avec TableTennisForALL, il est possible de créer rapidement des tournois de tennis de table.
        Ensuite, la compétition peut se gérer et se dérouler simplement en utilisant l'application.

        Pour cela, il suffit de renseigner les participants (directement dans l'application ou grâce à un fichier
        excel comprenant les informations demandées), puis de lancer un tournoi.
        Il est aussi possible de consulter les résultats des tournois précédents.
    </p>
</section>

<section>
   <h2>Auteur</h2>
    <p>
        Je m'appelle Matthieu Deléglise. Je suis étudiant à l'INSA Lyon depuis 2021 au sein du département
        Biotechnologie et Bioinformatique. J'étudie les mathématiques, les statistiques, l'informatique et la modélisation
        appliquée à la biologie, la santé et l'écologie. 

        Cette application est un projet personnel qui me tenait à coeur de réaliser pour tester mes compétences 
        en programmation Python et développement web. Elle vise aussi à être utile pour l'association sportive de tennis de table
        de l'INSA afin de faciliter l'organisation des tournois universitaires.
    </p>
</section>

<section>
   <h2>A propos de l'INSA Lyon</h2>
    <p>
        L'institut National des Sciences appliquées (INSA) de Lyon est une école d'ingénieur publique qui 
        peut s'intégrer dès la première année après le bac pour suivre la prépa-intégrée ou en BAC+3 directement en département.

        L'école comprend 9 département de spécialité, dont le département Biotech-Bioinfo.
        
        Grâce à ces valeurs de formation d'ingénieur(e)s humanistes, l'école possède aussi un très grand nombre d'associations,
        dont des associations sportives telles que l'AS de tennis de table.

    </p>
</section>

{% endblock %}