{% extends "layout.html" %}
{% block content %}
<section>
   <h2>Contact</h2>
    <p>
        Pour toute question relative à l'application, contacter:
        <a href="mailto:matthieu.deleglise@insa-lyon.fr">matthieu.deleglise@insa-lyon.fr</a>
    </p>
    <p>
        Pour toute question relative à l'association sportive de tennis de table de l'INSA Lyon, contacter:
        <a href="mailto:patrice.cornuau@insa-lyon.fr">patrice.cornuau@insa-lyon.fr</a>
    </p>
</section>
<section>
    <h2>Adresse de l'INSA Lyon</h2>
    <p>
        20 avenue Albert Einstein, 69100 Villeurbanne
    </p>
</section>

{% endblock %}